html,body {
	height:100%;
	background-color: #B5B7B4;
	overflow: hidden;
}
.container {
	overflow: hidden;
	height: 100%;
}

.player-banner {
	height: 60px;
	width: 100%;
	position: absolute; left: 0; top: 0;
}

#player {
	background-color: #FF0000;
	color: white;
	display: flex;
}

.third {
	flex: 1;
	font-size: 3em;
}

#game-infos {
	margin: 0 auto;
	text-align: center;
}

.runner {
	position: relative;
	left: 15px;
}

.Pbs {
	position: relative;
	right: 15px;
	text-align: right;
}

#cardIframe {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transition: opacity 0.5s;
}

#cardIframe.hidden {
	opacity: 0;
}
